[submodule "segfault"]
	path = segfault
	url = https://gitlab.com/alexandre.gabrielli/segfault.git
[submodule "VTK/VTK_Lab00"]
	path = VTK/VTK_Lab00
	url = git@github.com:AlexandreGabrielli/VTK_Lab00.git
